header{
  display:flex;
  flex-direction: column;
}
nav{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  color:black;
}

.menu-list {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

nav > .login{
  display:flex;
  flex-direction: row;
}

nav > .login .flag{
  display:flex;
  flex-direction: row;
  align-items:center;
}