:root {
  --primary-color : #fff;
  --secondary-color : #000;
  --pallete1 : #ED4C5C;
  --pallete2 : #EE3D1B;
}
/* cursor setup */
button, .flag svg, .play-button, .learn-more {
  cursor:pointer;
}

body {
  margin:0;
  padding:0;
  font-family: Lato;
  font-style: normal;
}
/**** Header Part ****/
header{
  display:flex;
  flex-direction: column;
  background: linear-gradient(to right,rgba(213, 32, 71  , 0.7),rgba(238, 61, 27, 0.7)),url("assets/img/banner.jpg") no-repeat center center fixed;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav.navbar{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  color : var(--primary-color);
  margin-top:15px;
  padding:40px 150px;
  text-transform: uppercase;
  fill:var(--primary-color);
}

.navbar > .logo {
  display: flex;
  justify-items: center;
  font-size: 18px;
}

.navbar > .logo svg {
  margin-right:5px;
}

.navbar > .menu {
  flex-grow:0.5;
}

.menu-list {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 14px;
}

nav > .login{
  display:flex;
  flex-direction: row;
  align-items: center;
}

nav > .login .flag{
  display:flex;
  flex-direction: row;
  align-items:center;
}

nav > .login .flag *:not(.login){
  margin-right:10px;
}

nav > .login .login {
  margin-left: 20px;
  width: 100px;
  height: 40px;
  background: transparent;
  border-radius: 6px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

nav > .login .flag img {
  width:32px;
  height:32px;
}

section.header{
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
}

section.header .banner-title {
  letter-spacing: 0.05em;
  font-size: 72px;
  text-align: center;
  font-weight: 600;
}

section.header .information {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  align-self: center;
  max-width: 500px;
  line-height: 36px;
}

section.header button {
  margin:40px;
  align-self: center;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  border: 0;
  padding: 15px 50px;
  background: var(--primary-color);
  border-radius: 6px;
  color: var(--pallete1)
}
/**** END Header Part ****/


/**** Video Part ****/
section.video {
  display:flex;
  flex-direction: row;
  max-height:500px;
  padding: 100px 150px;
}

section.video > .video-information {
  margin-right:100px;
  align-self: center;
}

section.video > .video-information .video-title {
  font-size: 36px;
  line-height: 43px;
}

section.video > .video-information .video-description, .learn-more{
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
}

section.video > .video-information .learn-more {
  color : var(--pallete1);
}

section.video > .video-panel .play-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 66px;
  background-color: var(--pallete1);
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: -33px;
}
/**** END Video Part ****/


/**** Feature Part ****/
section.feature {
  padding:60px;
  background: #FAFAFA;
  display:flex;
  flex-direction: column;
  text-align: center;
}

section.feature h2 {
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 60px;
}

section.feature > .card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

section.feature > .card-list .card .card-info{
  padding:35px;
  background: var(--primary-color);
  position:relative;
  bottom:105px;
  left:25px;
  width:300px;
  box-sizing: border-box;
  align-self:center;
  border-radius:5px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}

.card .card-info .card-info-head {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.card .card-info .card-info-body {
  font-size: 12px;
  line-height: 150%;
}

.card .card-info .card-info-foot {
  padding-top:15px;
  font-size: 12px;
  line-height: 150%;
  color: var(--pallete1);
  margin: 0;
}
/**** END Feature Part ****/


/**** Technology Part ****/
section.technology {
  display:flex;
  flex-direction: column;
  padding:60px;
  height:500px;
}

section.technology h2 {
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 60px;
  text-align: center;
}

section.technology .tech-list {
  display:flex;
  flex-direction: row;
  margin:0 60px;
  justify-content: space-around;
}

section.technology .tech-list .tech-item {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding:30px;
}

section.technology .tech-list .tech-logo {
  height:120px;
}

section.technology .tech-list .number {
  font-size: 100px;
  line-height: 120px;
  margin: 0;
  color: rgba(16, 16, 16, 0.08);;
}

section.technology .tech-list svg {
  position: relative;
  top:-65px;
}

section.technology .tech-list .tech-item .tech-title {
  margin-top:20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
/**** END Technology Part ****/


/**** Download App Part ****/
section.download {
  display:flex;
  flex-direction: row;
  background: var(--pallete1);
  color: var(--primary-color);
  align-items: center;
  height:500px;
  padding:0 165px;
}

section.download > .download-information {
  margin-right:100px;
  align-self: center;
}

section.download > .download-information .download-title {
  font-size: 36px;
  line-height: 43px;
}

section.download > .download-information .download-description{
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  margin:40px 0;
}

.download-method {
  display: flex;
}

.download-method * {
  align-self:center;
  margin-right: 20px;
}

.carousel {
  height:311px;
}

.carousel img {
  border-radius:15px;
}

.carousel img:nth-child(1){
  position: relative;
  z-index: 999;
}

.carousel img:nth-child(n+2){
  position: relative;
  opacity: 0.5;
}

.carousel img:nth-child(2) {
  top:calc(24px - 100%);
  left: -10%;
}

.carousel img:nth-child(3) {
  top:calc(64px - 200%);
  right: -20%;
}

/**** END Download App Part ****/


/**** Footer Part ****/

/**** END Footer Part ****/